<h1>Editing word</h1>

<%= render "form", wordbooks_word: @wordbooks_word %>

<br>

<div>
  <%= link_to "Show this word", @wordbooks_word %> |
  <%= link_to "Back to words", wordbooks_words_path %>
</div>
